@import "index.css";

body {
  height: 100vh;
}

img {
  width: 90%;
  max-width: 80%;
  border-radius: 10%;
}

#productDetails {
  background-color: #e5e5e5;
  padding: 3rem;
  border-radius: 10%;
}

.hidden {
  visibility: hidden;
}


@media screen and (max-width: 440px) {
  #detailsContainer {
    display: flex;
    flex-direction: column; 
  }
}