@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Pattaya', sans-serif;
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
  font-size: 1.1rem;
}

img {
  max-height: 50%;
  min-height: 35%;
}

main {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.transale {
  transition: all 2s ease-in-out;
  transform: translateY(-400px);
}

.divHover {
  transition: all 1s ease;
  margin: 5% 2%;
}

.divHover:hover {
  transform: scale(1.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 10px -5px, rgba(0, 0, 0, 0.3) 0px 5px 10px -5px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  overflow: hidden;
}

.fa{
  text-decoration: none;
  border-radius: 25%;
  background-color: #00296b;
  color: white;
  padding: 0.5rem;
  width: 2rem;
  margin: 0.5rem 0.3rem;
  transition: all 1s ease;
}

.fa-icons{
  width: auto;
  background-color: lightgreen;
}



.fa-google{
  background-color: #f94144;
  color: #f8961e;
  border-radius: 50%;
}

.fa-youtube{
  background-color: #d90429;
  border-radius: 50%;
}

.fa-instagram {
  background-color: #d3d3d3;
  color: #f48c06;
}

.fa-linkedin {
  padding: 0.5rem;
  width: 2rem;
}

.fa-store {
  background-color: #f94144;
  color: green;
}

.fa-dollar-sign {
  color: green;
}



.hidden {
  visibility: hidden;
}



.fa-plus-octagon {
  color: green;
  width: 2rem;
  height: 2rem;
}


@media screen and (max-width: 600px) {
 main{
    width: 80%;
  }
};
